<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h3></h3>
      <div class="form-group">
        <input
          type="email"
          class="form-control form-control-sm"
          placeholder="Enter your email..."
          required
          #userEmail
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control form-control-sm"
          placeholder="Enter your password..."
          required
          #userPwd
        />
      </div>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-success rounded-0"
          (click)="signUp(userEmail.value, userPwd.value)"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="text-center">
        <span>
          Already have an account? <br />
          <button routerLink="/signin" class="btn btn-sm rounded-0 btn-primary">
            Log In
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
